@font-face {
    font-family: Arimo-Bold;
    src: url(/fonts/Arimo-Bold/Arimo-Bold.woff);
}
@font-face {
    font-family: ChangaOne;
    src: url(/fonts/ChangaOne/ChangaOne-Regular.woff);
}
@font-face {
    font-family: Comfortaa;
    src: url(/fonts/Comfortaa/Comfortaa-Regular.woff);
}
img {
    width: 100%;
    height: auto;
    display: block;
}

body{
    background-color: #4c8f96;
    margin: 0;
}

.container{
    max-width: 65rem;
    margin: auto;
}

main{
    background-color: #ededed;
    padding: 3rem 0;
    box-shadow:  0px 0px 2px 1px #ededed;
}

.logo{
    background-color: #1a1e33;
    color: white;
    font-size: 3.75rem;
    text-transform: uppercase;
    padding: 2.3rem 3.125rem;
    margin: 4rem 0 0;
    display: inline-block;
    font-family: Arimo-Bold;
    position: relative;
    top: 10px;
}

.links{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    width: min-content;
    float: right;
    margin-top: 8.5rem;
}
.links a{
    background-color: #1a1e33;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.413rem 0.938rem;
    border-radius: 4px;
    font-family: Arial;
    font-size: large;
}
.links a:hover{
    background-color: #335f64;
}


.hero {
    margin-bottom: 3rem;
    border: 2px solid #5fb3bd;
    border-radius: 5px;
    background-color: #ffffff;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
.hero img{
    border-radius: 5px;
    height: 407px;
    width: auto;
}
.hero h2{
    font-family: Changaone;
    font-size: 2.5rem;
    align-self: center;
    font-weight: 100;
}


.featured{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
}
.featured img{
    border: 5px solid #5fb3bd;
    border-color: #5fb3bd;
    border-radius: 5px;
    filter: drop-shadow(0px 6px 7px #000000);
    margin-bottom: 2.5rem;
    max-width: 232px;
}
.card{
    font-family: Arial;
}
.card h3{
    font-weight: 100;
    font-size: 1.3rem;
    margin-bottom: 0;
    text-transform: capitalize;
}
.card p{
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 1.8rem
}


.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    margin-top: 50px;
    font-family: Arial;
    line-height: 1.8rem
}
.boxes h1{
    background-color: #1a1e33;
    color: white;
    padding: 0.8rem 1.8rem;
    margin: 0;
    display: inline-block;
    font-weight: 100;
    font-size: x-large;
    font-family: Comfortaa;
    letter-spacing: 3px;
    position: relative;
    bottom:15px;
    left: 20px;
}
.box1{
    grid-row-end: span 2;
    border: solid 5px #5fb3bd;
    border-radius: 5px;
    background-color: #ffffff;
}
.box1 img{
    object-fit: cover;
    max-width: 120px;
    display: inline;
    margin: 0 20px;
}
.box1 h2{
    display: inline;
    font-weight: 100;
    vertical-align: top;
}
.box1 p{
    font-size: 14px;
    margin: 30px 20px;
}

.box2 {
    border: solid 5px #5fb3bd;
    border-radius: 5px;
    background-color: #519194;
    color: #ededed;
}
.box2 p{
    margin: 40px 20px 20px;
}

.box3{
    border: solid 5px #5fb3bd;
    border-radius: 5px;
    background-color: #519194;
    color: #ededed;
}
.box3 img{
    max-width: 100px;
}